
html {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
    justify-content: space-between;
    height: 40vh;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 20px;
}


